/*---------------GLOBAL---------------*/
#accommodation_section{
    display: flex;
}
#container_title, #see_more{
    padding-left: 55px;
}
#aside_title{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
}
#accommodation_section a{
    text-decoration: none;
    color: black;
}
.star{
    color: var(--color_primary);
}
.unstar{
    color: var(--color_background);
}
.card:hover, .popular_card:hover{
    transform: scale(1.1);
}



/*---------------ACCOMODATION---------------*/
#accommodation_container{
    margin: 20px 70px;
    background-color: var(--color_background);
    padding: 30px 30px;
    border-radius: 25px;
    max-width: 60%;
}
#accommodation_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    width: 300px;
    background-color: white;
    padding: 6px;
    margin: 20px;
    border-radius: 10%;
    box-shadow: 2px 5px 24px -8px rgba(0,0,0,0.57);
    transition: .2s ease;
}
.card_image{
    object-fit: cover;
    height: 150px;
    width: 100%;
    border-radius: 10% 10% 0% 0%;
}
.card_infos{
    padding: 5px 15px;
}
#see_more:hover{
    text-decoration: underline;
}



/*---------------POPULAR ACCOMODATION---------------*/
#popular_accommodation{
    margin: 20px 70px;
    background-color: var(--color_background);
    padding: 30px 30px;
    border-radius: 25px;
    max-width: 30%;
}
.popular_card{
    display: flex;
    background-color: white;
    padding: 6px;
    margin: 20px;
    border-radius: 25px;
    box-shadow: 2px 5px 24px -8px rgba(0,0,0,0.57);
    transition: .2s ease;
}
.popular_card_image{
    object-fit: cover;
    height: 170px;
    width: 170px;
    border-radius: 10% 0% 0% 10%;
}
.popular_card_infos{
    padding: 15px;
}



/*---------------PHONE DESIGN---------------*/
@media screen and (min-width: 320px) and (max-width: 1280px){
    /*---------------GLOBAL---------------*/
    #accommodation_section{
        display: flex;
        flex-direction: column-reverse;
    }
    #container_title, #see_more{
        padding-left: 15px;
    }
    .card:hover, .popular_card:hover{
        transform: none;
    }



    /*---------------POPULAR ACCOMODATION---------------*/
    #popular_accommodation{
        margin: 20px 0px;
        padding: 30px 0px;
        max-width: 100%;
        border-radius: 0px;
        font-size: smaller;
    }
    .popular_card_image{
        height: 100px;
        width: 100px;
        border-radius: 10% 0% 0% 10%;
    }



    /*---------------ACCOMODATION---------------*/
    #accommodation_container{  
        margin: 0px;      
        background-color: white;                         
        padding: 30px 0px;
        max-width: 100%;
    }
}