/*---------------SEARCHBAR---------------*/
#search_section{
    margin: 0px 70px;
}
#search_form{
    margin: 20px 0px;
}
#searchbar, #search_btn, #pin_icon{
    padding: 10px;
    border: none;
}
#pin_icon{
    background-color: var(--color_background);
    border-radius: 10px 0px 0px 10px;
    padding-bottom: 12px;
    padding-top: 9px;
}
#searchbar{
    border: 1px solid var(--color_background);
    margin: 0px -4px;
}
#search_btn{
    font-weight: bold;
    background-color: var(--color_primary);
    color: white;
    border-radius: 0px 10px 10px 0px;
    padding: 11px;
}



/*---------------FILTERS---------------*/
#filters{
    display: flex;
    justify-content: space-between;
    max-width: 50%;
    margin: 20px 0px;
}
#filters li{
    list-style-type: none;
    margin-right: 20px;
}
#economy, #family, #romantic, #animals{
    display: none;
}
.filters_icon{
    color: var(--color_primary);
    background-color: var(--color_secondary);
    padding: 16px;
    margin-right: -15px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}
.filter_name{
    font-weight: bold;
    padding: 8px;
    padding-left: 15px;
    border: 3px solid var(--color_background);
    border-radius: 0px 20px 20px 0px;
    position: relative;
    z-index: 1;
}
.filter_name:hover{
    border: 3px solid var(--color_primary);
    cursor: pointer;
}
#info_icon{
    color: var(--color_primary);
    padding: 5px 10px;
    margin-right: 15px;
    border: 2px solid var(--color_background);
    border-radius: 50%;
}
#filters_selection{
    display: flex;
}
h4{
    margin: 0px 20px;
}



/*---------------PHONE DESIGN---------------*/
@media screen and (min-width: 320px) and (max-width: 767px){
    #search_section{
        margin: 20px 20px;
    }
    #title{
        font-size: smaller;
    }
    /*#search_btn{
        display: none;
    }*/
    #search_word{
        display: none;
    }
    input#searchbar + span::after{
        content: "\f002";
        background-color: var(--color_primary);
        color: white;
        border-radius: 0px 10px 10px 0px;
        padding: 10px;
    }

    #filters{
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        margin: 20px 0px;
    }
    #filters h4{
        margin-right: 100%;
    }
}



/*---------------TABLET DESIGN---------------*/
@media screen and (min-width: 768px) and (max-width: 1199px){
    #filters{
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        margin: 20px 0px;
    }
    #search_icon{
        display: none;
    }
}



/*---------------DESKTOP DESIGN---------------*/
@media screen and (min-width: 1200px) and (max-width: 1920px){
    #filters{
        display: flex;
        flex-wrap: wrap;
        max-width: 50%;
        margin: 20px 0px;
    }
    #search_icon{
        display: none;
    }
}